@import 'global.scss';

header, .app-footer {
  margin: 0.5rem;
  padding: 0.5rem;
}

header {
  border-bottom: 1px solid gray;

  .navbar-brand h1 {
    display: flex;
    align-items: center;
    margin-right: 2rem;
  }

  .active {
    background-color: #CCCCCC;
  }
}

main {
  display: flex;
  flex-direction: column;

  margin: 0 1rem;

  .loading-area {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #99999988;
  }
}

.app-footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 3rem;
  border-top: 1px solid gray;
}

